.carousel-caption {
   position: absolute;
   right: 15%;
   top: 30%;
   bottom: 1.25rem;
   left: 0% !important;
   padding-top: 1rem;
   padding-bottom: 1.25rem;
   color: #fff;
   text-align: left !important;
   color: black !important;
}
* {
   font-family: "Montserrat", sans-serif;
}
.covidPage, .aboutPage, .errorPage, .homePage, .servicesPage {
   overflow-x: hidden;
}
.lead {
   font-weight: 400 !important;
   background-color: rgba(255, 255, 255, 0.7);
   padding-top: 5px !important;
   padding-bottom: 5px !important;
   padding-right: 5px !important;
   padding-left: 10px !important;
}

.display-4 {
   font-weight: 700 !important;
   background-color: rgba(255, 255, 255, 0.7);
   padding: 10px !important;
}
h1 {
   font-family: "Montserrat", sans-serif;
   font-weight: 700 !important;
}
h2,
h3,
h4,
h5,
h6 {
   font-family: "Montserrat", sans-serif;
   font-weight: 600 !important;
}
p {
   font-family: "Work Sans", sans-serif;
}

.errorImg {
   background-image: url("./images/errorpage-tablet.png");
   height: 30vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
}

.d-flexError {
   display: flex !important;
   align-content: center;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.d-flexError h1 {
   font-size: 4em;
   font-weight: 700;
   color: #00bffe;
}

.d-flexError h3 {
   font-size: 1.2em;
   font-weight: 600;
   color: #3a3a3c;
   padding-left: 10%;
   padding-right: 10%;
   padding-bottom: 3%;
   font-family: "Montserrat", sans-serif;
}

.d-flexError h6 {
   font-size: 1em;
   font-weight: 400;
   color: #3a3a3c;
   padding-bottom: 6%;
}

.clientContainer {
   background-color: #7fddfd;
}

.clientContainer h1 {
}
.btn-airgo {
   background-color: #00bffe !important;
   border-color: #00bffe !important;
   color: white !important;
}
.img-fluid {
   max-width: 100% !important;
}

/*client hover*/
.clientDiv {
   position: relative;
   width: 50%;
}

.clientImg {
   height: 180px !important;
   transition: 0.5s ease;
   backface-visibility: hidden;
}

.middle {
   transition: 0.5s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
}

.clientDiv:hover .clientImg {
   opacity: 0.3;
}

.clientDiv:hover .middle {
   opacity: 1;
}

.clientText {
   background-color: #00bffe;
   color: white;
   font-size: 16px;
   padding: 16px 32px;
}

/*end of cliend hover*/

.navtext.active {
   background: #fdfbfc;
   box-shadow: 0 4px 10px -4px lightblue;
}

.nav-link:hover {
   cursor: pointer !important;
   font-weight: 600 !important;
}

.navlink.active {
   cursor: pointer !important;
   font-weight: 700 !important;
}

.banner-bg {
   color: white;
   min-width: 100%;
   min-height: 100vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
.bannerImg {
   background-size: cover;
   background-position: 75% 50%;
   background-image: url("./images/home-tablet1.png");
   min-height: 100vh;
   width: inherit;
}

.bannerImg2 {
   background-size: cover;
   background-position: 80% 50%;
   background-image: url("./images/home-tablet2.png");
   min-height: 100vh;
   width: inherit;
}

.bannerImg3 {
   background-size: cover;
   background-position: 75% 50%;
   background-image: url("./images/home-tablet3.png");
   min-height: 100vh;
   width: inherit;
}

.banner-bg2 {
   background-image: url("./images/home-web2.png");
   background-color: #4696ef;
   background-size: cover;
   background-position: center;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

#footer {
   padding: 50px;
   background-color: #00bffe;
   color: #fdfbfc;
}

::-webkit-scrollbar-track {
   background-color: transparent;
}

::-webkit-scrollbar {
   width: 11px;
   height: 50px;
   background-color: transparent;
}

::-webkit-scrollbar-thumb {
   background-color: #a0d14c;
}

.offcanvas {
   max-width: 80% !important;

   background-color: #00bffe !important;
}
.btn-close {
   filter: invert(1) grayscale(100%) brightness(200%);
}

.emailText {
   word-break: break-all;
}

.align-center {
   text-align: center !important;
}

.services {
   height: 60vh !important;
   width: 70% !important;
}

.blue-bg {
   background-color: #00bffe;
}
.bgtesti {
   background-image: url("./images/bgtesti.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 80vh;
}
.servicesImg {
   width: 100%;
   height: 60vh !important;
   object-fit: cover;
}

.servColImg {
   background-size: cover;
   background-position: center top;
   background-image: url("./images/our.jpg");
}

.servRow > .servColImg {
   padding: 0px !important;
}

.servColList {
   padding: 4% !important;
   color: white;
}

#check {
   line-height: 2em;
   list-style-image: url(./images/check.png);
}

.testimonialRow {
   padding: 5% 10% 5% 10% !important;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
   filter: invert(100%);
}

.carousel-indicators {
   bottom: -100px !important;
}

.testimonialContainer {
   height: 100vh;
   max-width: 100vw !important;
   margin: 0px !important;
}
.clientContainer {
   max-width: 100vw !important;
   margin: 0px !important;
}

.types {
   padding-right: 10%;
   padding-left: 10%;
}

#highlightsID {
   padding-top: 6% !important;
}

#contactID,
#brandsID,
.clientContainer,
#typesID {
   padding-top: 22% !important;
   padding-bottom: 6% !important;
}

.bannerServiceContainer {
   height: 100vh;
}
.bannerServiceContainer {
   background-color: rgba(0, 191, 254, 1);
}

.head-hero {
   height: 400px;
   width: 100%;
   background-size: cover;
   background-position: center;
   position: relative;
}

.head-about-us {
   background-image: url(./images/about1.png);
}

hr {
   background-color: #a0d14c !important;
   border-top: 5px solid #a0d14c !important;
   opacity: 1 !important;
}
.aboutContainer hr {
   border: 2px dotted #a0d14c !important;
   opacity: 0.6 !important;
   width: 60%;
   margin: auto !important;
}
#offcanvasNavbar hr {
   background-color: #fdfbfc !important;
   border-top: 2px solid #fdfbfc !important;
   opacity: 0.6 !important;
}

.info {
   height: inherit;
}

a:link {
   text-decoration: none;
}

#footer a:link {
   text-decoration: none;
   color: white;
}

#footer a:visited {
   color: white;
}

#footer a:hover {
   color: #3a3a3c;
}

#footer ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.footer-title {
   font-weight: 700;
}

.meet {
   height: 75vh;
   object-fit: cover;
}

.teamParagraph {
   padding-left: 10%;
   padding-right: 10%;
}

.aboutImg {
   position: relative;
   text-align: center;
   color: white;
}

.centered {
   position: absolute;
   font-size: 3.8em;
   font-weight: 700;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 90%;
}

.aboutText {
   text-align: center;
   font-size: 20px;
}

.head-services-container {
   text-rendering: optimizeSpeed;
   font-family: "Open Sans", sans-serif;
   font-size: 1rem;
   box-sizing: inherit;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   position: relative;
   max-width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
}
.head-services-content {
   text-rendering: optimizeSpeed;
   font-family: "Open Sans", sans-serif;
   font-size: 1rem;
   box-sizing: inherit;
   position: absolute;
   z-index: 2;
   padding-left: 15px;
   padding-right: 15px;
   top: 250px;
}

.head-services-wrap {
   text-rendering: optimizeSpeed;
   font-family: "Open Sans", sans-serif;
   font-size: 1rem;
   box-sizing: inherit;
   position: relative;
   display: flex;
   flex-wrap: wrap;
}

.head-services-content h1 {
   text-rendering: optimizeSpeed;
   box-sizing: inherit;
   background-color: rgba(255, 255, 255, 0.7);
   padding: 10px 15px;
   font-size: 2.8rem;
   font-weight: 700;
}

.here {
   text-rendering: optimizeSpeed;
   box-sizing: inherit;
   margin-top: 0.5rem !important;
   border: 0;
   cursor: pointer;
   display: inline-block;
   text-decoration: none;
   text-align: center;
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   transition: all 280ms ease-in-out;
   outline: none;
   box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
   padding: 1rem 2rem;
   font-size: 1.2rem;
   line-height: 1.5;
   border-radius: 0.3rem;
   background-color: #a0d14c !important;
   color: #fff !important;
}

.imageServ {
   text-rendering: optimizeSpeed;
   font-family: "Open Sans", sans-serif;
   font-size: 1rem;
   box-sizing: inherit;
   image-rendering: -webkit-optimize-contrast;
   max-width: 100%;
   opacity: 1;
   transition: 400ms opacity;
   position: absolute;
   right: 0;
   top: 130px;
   border-radius: 4px;
   object-fit: cover;
   width: 700px;
   height: auto;
   box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}
.head-services-content p {
   color: #fff;
   font-size: 1rem;
   padding-top: 2%;
}

.offNav a {
   list-style: none;
   box-sizing: border-box;
   color: white !important;
   text-align: center;
   font-size: 1.5em;
   display: block;
   padding: 0.5rem 1rem;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
   text-decoration: none;
   padding-right: 0;
   padding-left: 0;
}

@media (min-width: 767px) {
   /*    .clientContainer, #contactID, #brandsID, */
   #contactID,
   #brandsID,
   .clientContainer,
   #typesID {
      padding-top: 10% !important;
   }
   #contactID {
      margin-bottom: 12% !important;
   }

   .bannerImg {
      background-size: cover;
      background-position: center top;
      background-image: url("./images/home-web1.png");
      min-height: 100vh;
      width: inherit;
   }

   .bannerImg2 {
      background-size: cover;
      background-position: center top;
      background-image: url("./images/home-web2.png");
      min-height: 100vh;
      width: inherit;
   }

   .bannerImg3 {
      background-size: cover;
      background-position: center top;
      background-image: url("./images/home-web3.png");
      min-height: 100vh;
      width: inherit;
   }
}

@media (min-width: 769px) {
   .lead {
      font-weight: 400 !important;
      background-color: rgba(255, 255, 255, 0) !important;
      padding: 0px !important;
   }

   .display-4 {
      font-weight: 700 !important;
      background-color: rgba(255, 255, 255, 0) !important;
      padding: 0px !important;
   }
   .typesContainer,
   .missionContainer,
   .contactContainer,
   .policiesContainer {
      height: 100vh;
      margin-top: 6%;
   }
   .aboutContainer {
      height: 100vh;
   }
   .center {
      width: 50%;
   }
   #team {
      height: 100vh;
   }
}
@media (max-width: 426px) {
   .centered {
      font-size: 2.3em;
   }
}
@media (max-width: 767px) {
   .missionRow .col-2 {
      padding-right: 0px !important;
      padding-left: 0px !important;
   }
   .missionRow .col-10 {
      padding-right: 0px !important;
      padding-left: 0px !important;
   }
}
@media (max-width: 768px) {
   .nav-link {
      color: white !important;
      text-align: center;
      font-size: 1.5em;
   }
   .centered {
      font-size: 2.3em;
   }
   .navlogo {
      height: 35px !important;
   }

   .servColImg {
      height: 250px;
   }

   .head-services-container {
      text-rendering: optimizeSpeed;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      box-sizing: inherit;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      position: relative;
      max-width: 768px;
   }
   .head-services-wrap {
      text-rendering: optimizeSpeed;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      box-sizing: inherit;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;
   }
   .head-services-content {
      text-rendering: optimizeSpeed;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      box-sizing: inherit;
      position: absolute;
      z-index: 2;
      top: 300px;
      padding-left: 15px;
      padding-right: 15px;
   }
   .head-services-content h1 {
      text-rendering: optimizeSpeed;
      font-family: "Open Sans", sans-serif;
      box-sizing: inherit;
      font-size: 1.7rem;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 10px 15px;
   }

   .here {
      text-rendering: optimizeSpeed;
      box-sizing: inherit;
      margin-top: 0.5rem !important;
      border: 0;
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      transition: all 280ms ease-in-out;
      outline: none;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
      padding: 1rem 2rem;
      font-size: 1.2rem;
      line-height: 1.5;
      border-radius: 0.3rem;
      background-color: #fff;
      color: #4696ef;
   }
   .imageServ {
      text-rendering: optimizeSpeed;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      box-sizing: inherit;
      image-rendering: -webkit-optimize-contrast;
      max-width: 100%;
      opacity: 1;
      transition: 400ms opacity;
      position: absolute;
      right: 0;
      border-radius: 4px;
      box-shadow: none;
      object-fit: cover;
      width: 100%;
      height: 490px;
   }
}

.bannerServiceContainer {
   background-color: rgba(0, 191, 254, 1);
}

.f-left {
   text-rendering: optimizeSpeed;
   color: #fff;
   font-size: 0.875rem;
   box-sizing: inherit;
   float: left;
   padding-bottom: 0.5rem !important;
   display: flex;
   flex-wrap: initial;
}

.f-right {
   text-rendering: optimizeSpeed;
   color: #fff;
   font-size: 0.875rem;
   box-sizing: inherit;
   float: right;
   display: flex;
   flex-wrap: initial;
}

.footerIcon {
   font-size: 3.25em !important;
}

@media (max-width: 575.98px) {
   .head-about-us {
      height: 425px;
   }
}
.head-about-us {
   background-image: url("./images/about1.png");
}

.head-hero {
   height: 400px;
   width: 100%;
   background-size: cover;
   background-position: center;
   position: relative;
}

@media (max-width: 575.98px) {
   .padtop-about-m {
      padding-top: 100px;
   }
}

.h-inherit {
   height: inherit;
}

.hero-content {
   height: inherit;
}

@media (min-width: 1439px) {
   /*    .clientContainer, #contactID, #brandsID, */
   #contactID,
   #brandsID,
   .clientContainer,
   #typesID {
      padding-top: 7% !important;
   }
}

.mapplace {
   height: 80vh !important;
}

/*Mission*/

div.outer {
   position: relative;
   height: 300px;
   background-color: #3a3a3c;
}

div.outer2 {
   position: relative;
   height: 300px;
   background-color: rgba(58, 58, 60, 0.6);
}

div.outer3 {
   position: relative;
   height: 300px;
   background-color: rgba(0, 191, 254, 0.6);
}
div.outer4 {
   position: relative;
   height: 300px;
   background-color: #a0d14c;
}
div.outer img {
   position: absolute;
   right: 0;
   bottom: 0;
   height: 70%;
   width: 100%;
   object-fit: cover;
}
div.outer2 img {
   position: absolute;
   left: 0;
   top: 0;
   height: 70%;
   width: 100%;
   object-fit: cover;
}

.outer h3 {
   position: absolute;
   right: 0;
   top: 0;
   padding-top: 12%;
   padding-right: 25%;
}
.outer2 h3 {
   position: absolute;
   left: 0;
   bottom: 0;
   padding-bottom: 12%;
   padding-left: 25%;
   margin-bottom: 0rem !important;
}
.missionContainer {
   padding-top: 2rem !important;
}
@media (min-width: 375px) {
   .outer h3 {
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 10%;
      padding-right: 30%;
   }
   .outer2 h3 {
      position: absolute;
      left: 0;
      bottom: 0;
      padding-bottom: 10%;
      padding-left: 30%;
      margin-bottom: 0rem !important;
   }
}
@media (max-width: 425px) {
   .missionText {
      text-align: center;
   }
}

@media (min-width: 425px) {
   .testimonialRow {
      padding: 2% 10% 2% 10% !important;
   }
   .missionContainer {
      padding-top: 2rem !important;
   }
   .outer h3 {
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 10%;
      padding-right: 36%;
   }
   .outer2 h3 {
      position: absolute;
      left: 0;
      bottom: 0;
      padding-bottom: 10%;
      padding-left: 36%;
      margin-bottom: 0rem !important;
   }

   .missionText {
      text-align: center;
   }
}
@media (min-width: 767px) {
   .testimonialRow {
      padding: 10% 10% 8% 10% !important;
   }
   .errorImg {
      background-image: url("./images/errorpage-web.png");
      height: 85vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
   }
   .missionContainer {
      padding: 2rem !important;
   }

   .bannerImg {
      background-size: cover;
      background-position: 75% 50%;
      background-image: url("./images/home-web1.png");
      min-height: 100vh;
      width: inherit;
   }

   .bannerImg2 {
      background-size: cover;
      background-position: 80% 50%;
      background-image: url("./images/home-web2.png");
      min-height: 100vh;
      width: inherit;
   }

   .bannerImg3 {
      background-size: cover;
      background-position: 75% 50%;
      background-image: url("./images/home-web3.png");
      min-height: 100vh;
      width: inherit;
   }

   .outer h3 {
      position: absolute;
      right: 0;
      top: 0;
      padding: 12%;
   }
   .outer2 h3 {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 12%;
      margin-bottom: 0rem !important;
   }
   .missionText {
      text-align: center;
   }
}
@media (min-width: 1023px) {
   .testimonialRow {
      padding: 8% 10% 8% 10% !important;
   }
   .d-flexError {
      display: flex !important;
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }

   .d-flexError h1 {
      font-size: 6em;
      font-weight: 700;
   }

   .d-flexError h3 {
      font-size: 1.5em;
      font-weight: 600;
      color: #3a3a3c;
      padding-left: 20%;
      padding-right: 20%;
      padding-bottom: 3%;
   }

   .d-flexError h6 {
      font-size: 1em;
      font-weight: 400;
      color: #3a3a3c;
      padding-bottom: 6%;
   }

   .outer h3 {
      position: absolute;
      left: 0;
      top: 0;
      padding: 8%;
   }
   .outer2 h3 {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 8%;
      margin-bottom: 0rem !important;
   }
   div.outer img {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 70%;
      width: 75%;
      object-fit: cover;
   }
   div.outer2 img {
      position: absolute;
      left: 0;
      top: 0;
      height: 70%;
      width: 75%;
      object-fit: cover;
   }
}

@media (min-width: 1439px) {
   #highlightsID {
      padding-top: 3% !important;
   }
   .testimonialRow {
      padding: 2% 10% 2% 10% !important;
   }
   .missionContainer {
      padding: 2rem !important;
   }

   .outer h3 {
      position: absolute;
      left: 0;
      top: 0;
      padding: 8%;
   }
   .outer2 h3 {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 8%;
      margin-bottom: 0rem !important;
   }
   div.outer img {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 70%;
      width: 80%;
      object-fit: cover;
   }
   div.outer2 img {
      position: absolute;
      left: 0;
      top: 0;
      height: 70%;
      width: 80%;
      object-fit: cover;
   }
}

/*end of mission*/
